PORT=3002
OIDC_ISSUER=https://auth.xxx.com
OIDC_DISCOVERY_URL=http://oidc-op:3003/.well-known/openid-configuration
OIDC_DEMO_CLIENT_ID=demo-site
OIDC_DEMO_CLIENT_SECRET=<set-in-deploy-env>
DEMO_BASE_URL=https://auth.xxx.com
