APP_ENV=production
PORT=3003
AUTH_PROVIDER=cqut
SCHOOL_CODE=cqut
REDIS_URL=redis://redis:6379
DATABASE_URL=postgres://<set-in-deploy-env>:<set-in-deploy-env>@postgres:5432/<set-in-deploy-env>
OIDC_ISSUER=https://auth.xxx.com
OIDC_COOKIE_SECURE=true
OIDC_KEY_ENCRYPTION_SECRET=<set-in-deploy-env>
OIDC_COOKIE_KEYS=<set-in-deploy-env>,<set-in-deploy-env>
OIDC_SESSION_TTL_SECONDS=28800
OIDC_SESSION_IDLE_TTL_SECONDS=7200
OIDC_INTERACTION_TTL_SECONDS=900
OIDC_REFRESH_TTL_SECONDS=2592000
OIDC_DEMO_CLIENT_ENABLED=true
OIDC_DEMO_CLIENT_ID=demo-site
OIDC_DEMO_CLIENT_SECRET=<set-in-deploy-env>
OIDC_DEMO_REDIRECT_URI=https://auth.xxx.com/demo/callback
OIDC_DEMO_POST_LOGOUT_REDIRECT_URI=https://auth.xxx.com/demo
TRUST_PROXY_HOPS=1
PROVIDER_TIMEOUT_MS=10000
PROVIDER_TOTAL_TIMEOUT_MS=20000
