APP_ENV=production
AUTH_PROVIDER=cqut
STARTUP_STRICT_DEPENDENCIES=true
REDIS_URL=redis://redis:6379
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<set-in-deploy-env>
POSTGRES_DB=cqut_auth
OIDC_ISSUER=https://auth.xxx.com
OIDC_DISCOVERY_URL=http://oidc-op:3003/.well-known/openid-configuration
OIDC_COOKIE_SECURE=true
OIDC_KEY_ENCRYPTION_SECRET=<set-in-deploy-env>
OIDC_COOKIE_KEYS=<set-in-deploy-env>,<set-in-deploy-env>
OIDC_SESSION_TTL_SECONDS=28800
OIDC_SESSION_IDLE_TTL_SECONDS=7200
OIDC_INTERACTION_TTL_SECONDS=900
OIDC_REFRESH_TTL_SECONDS=2592000
OIDC_RATE_LIMIT_FAIL_CLOSED=true
OIDC_RATE_LIMIT_MEMORY_MAX_KEYS=10000
OIDC_RATE_LIMIT_MEMORY_CLEANUP_INTERVAL_SECONDS=60
OIDC_ARTIFACT_CLEANUP_ENABLED=true
OIDC_ARTIFACT_CLEANUP_CRON="*/5 * * * *"
OIDC_ARTIFACT_OPPORTUNISTIC_CLEANUP_ENABLED=true
OIDC_ARTIFACT_OPPORTUNISTIC_CLEANUP_SAMPLE_RATE=0.01
OIDC_ARTIFACT_OPPORTUNISTIC_CLEANUP_BATCH_SIZE=200
OIDC_ARTIFACT_OPPORTUNISTIC_CLEANUP_INTERVAL_SECONDS=30
OIDC_DEMO_CLIENT_ID=demo-site
OIDC_DEMO_CLIENT_SECRET=<set-in-deploy-env>
OIDC_DEMO_REDIRECT_URI=https://auth.xxx.com/demo/callback
OIDC_DEMO_POST_LOGOUT_REDIRECT_URI=https://auth.xxx.com/demo
DEMO_BASE_URL=https://auth.xxx.com
DEMO_SESSION_TTL_SECONDS=7200
DEMO_SESSION_KEY_PREFIX=demo:sess:
PROVIDER_TIMEOUT_MS=10000
PROVIDER_TOTAL_TIMEOUT_MS=20000
CORS_ALLOWED_ORIGINS=
TRUST_PROXY_HOPS=1
SERVER_NAME=verify.local
TLS_CERT_PATH=/etc/nginx/certs/fullchain.pem
TLS_KEY_PATH=/etc/nginx/certs/privkey.pem
